
#title {

-fx-font-family: "Arial Black";

-fx-font-size: 40;

-fx-font-weight: bold;

-fx-text-fill: white;

}

#button {

-fx-font-family: "Arial Black";

-fx-font-size: 20;

-fx-font-weight: bold;

-fx-text-fill: white;

-fx-background-color: #000000;

-fx-background-radius: 10;

-fx-background-insets: 0;

-fx-padding: 10 20 10 20;

-fx-border-color: white;

-fx-border-radius: 10;

-fx-border-width: 2;

}

#button:hover {

-fx-background-color: #000000;

-fx-background-radius: 10;

-fx-background-insets: 0;

-fx-padding: 10 20 10 20;

-fx-border-color: #000000;

-fx-border-radius: 10;

-fx-border-width: 2;

}

#button:pressed {

-fx-background-color: #000000;

-fx-background-radius: 10;

-fx-background-insets: 0;

-fx-padding: 10 20 10 20;

-fx-border-color: #000000;

-fx-border-radius: 10;

-fx-border-width: 2;

}

#button:disabled {

-fx-background-color: #000000;

-fx-background-radius: 10;

-fx-background-insets: 0;

-fx-padding: 10 20 10 20;

-fx-border-color: #000000;

-fx-border-radius: 10;

-fx-border-width: 2;

}

#button:disabled:hover {

-fx-background-color: #000000;

-fx-background-radius: 10;

-fx-background-insets: 0;

-fx-padding: 10 20 10 20;

-fx-border-color: #000000;

-fx-border-radius: 10;

-fx-border-width: 2;

}

#button:disabled:pressed {

-fx-background-color: #000000;

-fx-background-radius: 10;

-fx-background-insets: 0;

-fx-padding: 10 20 10 20;

-fx-border-color: #000000;

-fx-border-radius: 10;

-fx-border-width: 2;

}

/* Set font family and size */
.text-area {
    -fx-font-family: Arial;
    -fx-font-size: 14pt;
}

/* Set background and text color */
.text-area .content {
    -fx-background-color: #F5F5F5;
    -fx-text-fill: #333333;
}

/* Remove border and padding */
.text-area .content .scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.background {
    -fx-background-color: #6471af;
}

.playerStats {
    -fx-background-color: #6471af;
    -fx-text-fill: #333333;
    -fx-font-size: 30;
}