

@font-face {
    font-family: "Brazie";
    src: url("/brazie-font/Brazie-51zLz.ttf");
}

#title {
    -fx-font-size: 80px;
    -fx-font-weight: bold;
    -fx-font-family: "Brazie";
    -fx-fill: #5e3720;
    -fx-stroke: #ffffff;
    -fx-stroke-width: 2px;
    -fx-padding: 10px;
}




#playerInfo {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-fill: #ffffff;

    -fx-padding: 10px;
}

.root {
    -fx-background-image: url("zeldabackground.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.MainMenuPane {
    -fx-background-image: url("mainmenubackground.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}



#mainMenuButton {
    -fx-background-color: #4ec8cb;
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    -fx-font-family: "Helvetica Neue", sans-serif;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

#mainMenuButton:hover {
    -fx-background-color: #249a75;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}



#navigationButton {
    -fx-background-color: #4ec8cb;
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    -fx-font-family: "Helvetica Neue", sans-serif;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

#navigationButton:hover {
    -fx-background-color: #249a75;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
}

#contentArea {
    -fx-font-size: 30px;
    -fx-text-fill: #ffffff;

}

#comboBox {
    -fx-font-size: 13px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #4ec8cb;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-cursor: hand;
}

button:hover {
    background-color: #3e8e41;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#backButton{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #2c3e50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#backButton:hover {
    background-color: #34495e;
}


#textField {

    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-min-height: 35px;
    -fx-min-width: 150px;
    -fx-max-height: 50px;
    -fx-max-width: 150px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-cursor: hand;

}

#textArea{

        -fx-background-color: #ffffff;
        -fx-text-fill: #000000;
        -fx-min-height: 150px;
        -fx-min-width: 400px;
        -fx-max-height: 150px;
        -fx-max-width: 400px;
        -fx-font-size: 12px;
        -fx-font-weight: bold;
        -fx-font-family: "Arial";
        -fx-border-color: #ffffff;
        -fx-border-width: 2px;
        -fx-border-radius: 10px;
        -fx-background-radius: 10px;
        -fx-padding: 10px;
        -fx-cursor: hand;

}

#confirmButton {

    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-min-height: 50px;
    -fx-min-width: 150px;
    -fx-max-height: 50px;
    -fx-max-width: 150px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-cursor: hand;

}